<nav class="navbar navbar-fixed-top">
  <div class="container-fluid container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img src="https://components.britcdn.com/assets/images/logo.svg">
      </a>
    </div>
    <ul class="nav links">
      <li>
        <a class="mainLink" routerLink="ridingsolo">Riding Solo</a>
        <a class="mainLink" routerLink="beauty">Beauty</a>
        <a class="mainLink" routerLink="fashion">Fashion</a>
        <a class="mainLink" routerLink="food">Food</a>
        <a class="mainLink" routerLink="home">Home</a>
        <a class="mainLink" routerLink="issues">Issues</a>
        <a class="mainLink" routerLink="more">More</a>
        <a class="mainLink" routerLink="video">Video</a>
        <a class="mainLink" routerLink="classes">Classes</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footie container">
    <a routerLink="">
      <img id="footLogo" src="https://components.britcdn.com/assets/images/logo.svg">
    </a>
    <ul>
      <li class="footLink">About</li>
      <li class="footLink">Press</li>
      <li class="footLink" routerLink="classes">Classes</li>
      <li class="footLink">Careers</li>
      <li class="footLink">Contact</li>
    </ul>
  </div>
</footer>
