<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Brit & Co</a>
    </div>
    <ul class="nav test">
      <li><a routerLink="ridingsolo">Riding Solo</a></li>
      <a routerLink="beauty">Beauty</a>
      <a>Fashion</a>
      <a>Food</a>
      <a>Home</a>
      <a>Issues</a>
      <a>More</a>
      <a>Video</a>
      <a>Classes</a>
    </ul>
  </div>
</nav>
<!-- try a non-boot strap way for menu -->
<!-- router outlet will go here later -->
<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
